body{
	width:700px;
	margin: auto;
    font-family: sans-serif;

	
}
h2{
	position: relative;
	left: 30%;
}

input{
	width: 80%;
	height: 53px;
	margin: 10px;
	border-radius: 5px;
	transition-property: border-color,color;
	transition-duration: 1s;
	border:  1px  solid black;
	color: black;
	 

}

#nom::placeholder{

 transform: translateY(-13px);
}


input[type="submit"]{
	color:white;
	cursor: pointer;
}

input:hover{
	border-color: #a56336;
	
	
}

a{
	text-decoration: none;
	transition-property: text-decoration;
	color:#a56336;
	position: relative;
	left: 25%;
}
a:hover{
	text-decoration: underline;
}
#ok{

	border-radius: 30px;
	transition-property: background,border-color;
	transition-duration: 1s
	color:white;
    height: 50px;
	background: #a56336;
	border-color: #a56336;
	font-size: 20px;
	width:570px;
}
#img{
	
	position: relative;
	left: 40%;}
img{
	width: 60px;
	height: 60px;}

.mdp{
    color: red;
    font-size: 19px;
    box-sizing: border-box;
    width: 400px;
}
